@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-clr: rgb(41, 41, 41);
  --light-clr: rgb(247, 245, 243);
  --light-clr-shade: rgb(238, 230, 212);
  --accent-clr: rgb(219, 151, 23);
  --accent-hover-clr: rgb(255, 184, 51);
}

body {
  font-family: 'Roboto', serif;
  background-color: rgb(240, 240, 240);
  color: var(--dark-clr);
  font-size: 1rem;
  line-height: 1.6rem;
  background-color: var(--light-clr);
}

/* ----------------------------------------TYPOGRAPHY */

h1 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 1.6rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
}

h2 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 1.3rem;
}

h3 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 1.2rem;
}

h4 {
  margin-bottom: 2rem;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: -1px;
  color: var(--accent-clr);
}

@media only screen and (min-width: 500px) {
  h1 {
    font-size: 3rem;
    line-height: 3.8rem;
  }
}

/* ----------------------------------------HEADER */

header {
  background-color: var(--light-clr-shade);
  padding: 20px 0px;
}

nav {
  max-width: 980px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

#header-img {
  width: 250px;
  padding: 10px;
}

ul {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  gap: 30px;

}

li {
  font-size: 0.7rem;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--dark-clr);
}

/* ----------------------------------------TOP_HEADER */

.top-header {
  min-height: 500px;
  background-image: url(https://media.snl.no/media/50376/standard_Trombone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 40px 20px 60px 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.top-header h1 {
  text-align: center;
  background-color: var(--light-clr);
  padding: 10px 20px;
}

/* ----------------------------------------FORM */

.form-container {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  padding: 60px 20px 60px 20px;
}

#form {
  display: inline-block;
  width: 100%;
}

label {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

#email,
#submit {
  padding: 0.1rem 0.1rem;
}

#email {
  border: none;
  padding: 10px 20px;
}

#submit {
  border: none;
  padding: 10px 20px;
  background-color: var(--accent-clr);
}

input:focus {
  border-left: 10px solid var(--accent-clr);
}

/* ----------------------------------------FEAUTRES */

.features-container {
  padding: 50px 20px;
  max-width: 700px;
}

.features {
  margin-bottom: 3rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

#matr {
  display: none;
  align-self: center;
  width: 50px;
}

.features-text {
  font-size: 1.4rem;
  font-weight: 800;
  text-align: left;
  align-self: flex-start;
  margin-bottom: 1rem;
}

.features-text2 {
}

@media only screen and (min-width: 500px) {
  .features {
    grid-template-columns: 1fr 4fr;
  }
  #matr {
    display: block;
    align-self: center;
    /* width: 50px; */
    width: 100px;
  }
  .features-text  {
  }
  .features-text2  {
  }
}


/* ----------------------------------------VIDEO */

.video-container {
  display: flex;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  justify-content: center;
  align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
}

/* ----------------------------------------BG IMAGE */

.bg-img {
  display: flex;
  align-items: center;
  height: 300vh;
  width: 100%;
  background-image: url(https://www.ksalle.no/uploads/1/0/6/8/10687816/trumpet-1495108_orig.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.bg-img-h2 {
  background-color: white;
  padding: 20px;
  font-weight: 600;
}

/* ----------------------------------------TEXT-Section */

.text-wrapper {
  padding: 50px 20px 0px 20px;
}

.text-block {
  max-width: 700px;
}

.text-block h2 {
  font-style: italic;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.8rem;
}

.text-block h3 {
  font-family: 'roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 1.4em;
}

.text-block p {
  margin-bottom: 1rem;
}

/* ----------------------------------------PRIXCING */

.pricing {
  padding: 100px 20px;
}

#pricing {
  max-width: 980px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.pricing-card {
  box-sizing: border-box;
  max-height: 320px;
  min-width: 250px;
  max-width: 400px;
  background-color: var(--light-clr-shade);
  padding: 20px;
  border-radius: 0.4rem;
}

.pricing-card p {
  margin-bottom: 1rem;
}

button {
  border: none;
  padding: 10px 30px;
  background-color: var(--accent-clr);
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 1rem;
}

button:hover {
    background-color: var(--accent-hover-clr)
}

@media only screen and (min-width: 750px) {
  #pricing {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
  }
  .pricing-card {
    min-width: 250px;
    max-width: 400px;
  }
}

/* F O O T E R */

footer {
  color: var(--light-clr);
  text-align: center;
  padding: 5rem;
  background-color: var(--dark-clr)
}
